@media only screen and (max-width : 992px){
.container{
    width: 700px;
}

}
@media only screen and (max-width : 768px) {
.container{
    width: 700px;
}
.fristscreen{
    &__title{
        margin-left: 0;
    }
}
.focus{
    padding-top: 46px;
    &__cards{
        &__item{
            &__descr{
            font-size: 13px;
            }
        }
    }
}
.project{
    padding: 41px 0 63px 0;
    &__cards{
        justify-content: space-around;
    }
}
.about{
    padding: 40px 0 60px 0;
    &__item{
        &__wrapper{
            margin-left: 20px;
            &__second{
                margin-right: 20px;
            }
            
        }
        &__descr{
            margin-top: 15px;
        }
    }
    &__bottom a{
         padding: 7px;
         margin-top: 4px;
    }
}
.contact{
    padding: 30px 0 45px 0;
}


}
@media only screen and (max-width : 480px) {
.container{
    width: 387px;
}
.fristscreen{
    padding: 30px 0 80px 0;
    min-height: 0px;
    &__header{
        &__logo{
            width: 48px;
        }
        &__navbar{
            &__nav{
                a{
                    font-size: 12px;
                }
            }
        }
    }
}
.focus{
    padding-bottom: 30px;
    &__cards{
        flex-direction: column;
        align-items: center;
        &__item{
            margin-top: 30px;
        }
    }
}
.about{
    &__item{
        flex-direction: column;
        &__second{
            flex-direction: column-reverse;
            margin-top: 90px;
        }
        &__video{
            display: none;
        }
        
    }
    &__bottom{
        margin-top: 15px;
    }
}
.contact{
    &__form{
        width: 100%;
        &__wrapper{
            flex-direction: column;
        }
    }
}
.footer{
    &__links{
        
        &__list{
            flex-direction: column;
            width: 100px;
            a{
                font-size: 10px;
            }
        }
    }
    &__contact{
        width: none;
        &__adress{
            font-size: 10px;
        }
        &__mail{
            margin-top: 20px;
            font-size: 10px;
        }
        &__icon{
            margin-right: 5px;
        }
    }
    &__social{
        width: 75px;
        
        &__title{
            text-align: center;
            font-size: 11px;
        }
        &__icons{
            flex-wrap: wrap;
            &__item{
                width: 19px;
            }
        }
    }
}
}
@media only screen and (max-width : 480px) {

.container{
    width: 300px;
}
.fristscreen{
    &__header{
        &__navbar{
            &__nav{
                margin-right: 8px;
            }
        }
    }
}
.focus{
    padding-top: 25px;
    &__cards{
        margin-top: 0;
    }
}
.project{
    &__nav{
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 15px;
        &__item{
            margin-bottom: 35px;
        }
    }
}
.about{
    &__item{
        width: 264px;
        margin: 0 auto;
        &__wrapper{
            margin-left: 0;
            margin-bottom: 10px;
        }
    }
}
.contact{
    &__form{
        margin-top: 0;
        &__input{
            width: 100%;
        }
    }
}
.footer{
    &__contact{
        &__phone{
            font-size: 14px;
        }
    }
}
}