*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 940px;
    margin: 0 auto;
}

@import "blocks/fristscreen";
@import "blocks/focus";
@import "blocks/project";
@import "blocks/about";
@import "blocks/_contact";