@import url(c:\Users\User\Desktop\WebDesing\src\sass\blocks\_animation.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.fristscreen {
  padding: 65px 0 644px 0;
  min-height: 917px;
  background: url(../img/fristscreenBg.jpg) center center/cover no-repeat;
}

.fristscreen__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fristscreen__header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.fristscreen__header__navbar__nav {
  margin-top: 6px;
  margin-right: 29px;
}

.fristscreen__header__navbar__nav a {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: right;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.fristscreen__header__navbar__nav:last-child {
  margin-right: 0;
}

.fristscreen__header__navbar__nav:hover {
  border-bottom: 1px solid white;
  border-spacing: 60px;
}

.fristscreen__title {
  margin-top: 107px;
  margin-left: 85px;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
}

.focus {
  min-height: 523px;
  padding: 92px 0 147px 0;
}

.focus__title {
  text-align: center;
  font-size: 25px;
  color: #333333;
}

.focus__cards {
  margin-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.focus__cards__item {
  max-width: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.focus__cards__item__icon {
  display: block;
  margin: 0 auto;
}

.focus__cards__item__title {
  margin-top: 43px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}

.focus__cards__item__descr {
  margin-top: 23px;
  font-size: 14px;
  text-align: center;
  color: #333333;
}

.project {
  min-height: 1296px;
  padding: 73px 0 144px 0;
  -webkit-box-shadow: inset 0px 8px 14px -4px rgba(0, 0, 0, 0.69);
  box-shadow: inset 0px 8px 14px -4px rgba(0, 0, 0, 0.69);
  background: #ebebeb;
}

.project__title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}

.project__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 485px;
  margin-top: 47px;
}

.project__nav__item a {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-decoration: none;
}

.project__nav__item a:hover {
  border-bottom: 2px solid #333333;
}

.project__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 36px;
}

.project__cards__item {
  margin-bottom: 66px;
  max-width: 206px;
}

.project__cards__item__title {
  margin-top: 35px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.project__bottom {
  text-align: center;
  border: 1px solid black;
}

.about {
  min-height: 800px;
  padding: 145px 0 144px 0;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item__second {
  margin-top: 144px;
}

.about__item__wrapper {
  margin-left: 100px;
}

.about__item__wrapper__second {
  margin-left: 0;
  margin-right: 99px;
}

.about__item__title {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  color: #333333;
}

.about__item__title__second {
  text-align: right;
}

.about__item__descr {
  margin-top: 52px;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.about__item__descr__second {
  text-align: right;
}

.about__item__video {
  max-width: 380px;
  max-height: 288px;
}

.about__bottom a {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 36px;
  background: none;
  padding: 30px 89px;
  border: 1px solid #000;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.contact {
  max-height: 1008px;
  padding: 109px 0 144px 0;
  background: url(../img/contactBg.png) center center/cover no-repeat;
}

.contact__title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.contact__descr {
  margin-top: 52px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.contact__form {
  margin: 0 auto;
  width: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 69px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form__item {
  margin-top: 35px;
}

.contact__form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form__input {
  width: 320px;
  height: 36px;
}

.contact__form__input__email {
  width: 100%;
}

.contact__form__input__message {
  width: 100%;
  height: 216px;
}

.contact__form__title {
  font-size: 12px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 27px;
}

.contact__form__bottom {
  display: block;
  margin: 0 auto;
  margin-top: 36px;
  background: none;
  padding: 30px 89px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.footer {
  background: #333333;
  min-height: 241px;
  padding: 35px 0 85px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 197px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__links__list a {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.14;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 221px;
}

.footer__contact__adress {
  margin-top: 10px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer__contact__mail {
  margin-top: 38px;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: #ffffff;
}

.footer__contact__phone {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.footer__contact__icon {
  margin-right: 30px;
}

.footer__social {
  width: 220px;
}

.footer__social__title {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  margin-top: 10px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer__social__icons {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 700px;
  }
  .fristscreen__title {
    margin-left: 0;
  }
  .focus {
    padding-top: 46px;
  }
  .focus__cards__item__descr {
    font-size: 13px;
  }
  .project {
    padding: 41px 0 63px 0;
  }
  .project__cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about {
    padding: 40px 0 60px 0;
  }
  .about__item__wrapper {
    margin-left: 20px;
  }
  .about__item__wrapper__second {
    margin-right: 20px;
  }
  .about__item__descr {
    margin-top: 15px;
  }
  .about__bottom a {
    padding: 7px;
    margin-top: 4px;
  }
  .contact {
    padding: 30px 0 45px 0;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 387px;
  }
  .fristscreen {
    padding: 30px 0 80px 0;
    min-height: 0px;
  }
  .fristscreen__header__logo {
    width: 48px;
  }
  .fristscreen__header__navbar__nav a {
    font-size: 12px;
  }
  .focus {
    padding-bottom: 30px;
  }
  .focus__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .focus__cards__item {
    margin-top: 30px;
  }
  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__item__second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 90px;
  }
  .about__item__video {
    display: none;
  }
  .about__bottom {
    margin-top: 15px;
  }
  .contact__form {
    width: 100%;
  }
  .contact__form__input {
    width: 100%;
  }
  .contact__form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__links__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100px;
  }
  .footer__links__list a {
    font-size: 10px;
  }
  .footer__contact {
    width: none;
  }
  .footer__contact__adress {
    font-size: 10px;
  }
  .footer__contact__mail {
    margin-top: 20px;
    font-size: 10px;
  }
  .footer__contact__icon {
    margin-right: 5px;
  }
  .footer__social {
    width: 75px;
  }
  .footer__social__title {
    text-align: center;
    font-size: 11px;
  }
  .footer__social__icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__social__icons__item {
    width: 19px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 300px;
  }
  .fristscreen__header__navbar__nav {
    margin-right: 8px;
  }
  .focus {
    padding-top: 25px;
  }
  .focus__cards {
    margin-top: 0;
  }
  .project__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 15px;
  }
  .project__nav__item {
    margin-bottom: 35px;
  }
  .about__item {
    width: 264px;
    margin: 0 auto;
  }
  .about__item__wrapper {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .contact__form {
    margin-top: 0;
  }
  .contact__form__input {
    width: 100%;
  }
  .footer__contact__phone {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */